.untrumped a.title,
.untrumped p.tagline,
.untrumped ul.flat-list li {
  opacity: 0.05;
}


/* Hide button */
.untrumped ul.flat-list li:nth-child(4) {
  opacity: 1;
}

.untrumped a[data-event-action="hide"] {
  color: red !important;
  font-weight: bolder;
  font-size: 1.1em;
}

.trumptag {
  background: red;
}
